* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color-font);
  font-family: Tahoma;
  font-size: 12px;
}
/* COLORES POR DEFECTO */
:root {
  --primary-color: #202124;
  --secundary-color: #202537;
  --hover-color: #138d90;
  --color-font: #e3cebf;
}
/* COLORES LIGHT MODE */
:root {
  --primary-light: #eeeeee;
  --secundary-light: #e1e1e1;
  --light-font: black;
  --light-hover: #14dadd;
}
/* LIGHT MODE */
.light-mode {
  background-color: var(--primary-light);
}
.light-mode * {
  color: var(--light-font);
}
.light-mode header,
.light-mode .box-style-img,
.light-mode .box-style-txt,
.light-mode .box {
  background-color: var(--secundary-light);
}
.light-mode #btn-img,
.light-mode #btn-txt,
.light-mode #btn-mode,
.light-mode .input,
.light-mode #url,
.light-mode .container-img-bkg,
.light-mode .bkg-select,
.light-mode #top,
.light-mode #bottom,
.light-mode #size-font,
.light-mode .fa-align-right,
.light-mode .fa-align-center,
.light-mode .fa-align-left,
.light-mode .txt-FC,
.light-mode .outline button,
.light-mode #letter-spacing,
.light-mode #line-height {
  background-color: var(--primary-light);
}
.light-mode #btn-img:hover,
.light-mode #btn-txt:hover,
.light-mode #btn-mode:hover,
.light-mode #url:hover {
  background-color: var(--light-hover);
}
/* ****************************************************************************** */
h4 {
  font-weight: bold;
}
body {
  max-height: 100vh;
  background-color: var(--primary-color);
  position: relative;
}
#btn-img:hover {
  background-color: var(--hover-color);
}
#btn-txt:hover {
  background-color: var(--hover-color);
}
#btn-mode:hover {
  background-color: var(--hover-color);
}
#url:hover {
  background-color: var(--hover-color);
}
/*  HEADER */
header {
  background-color: var(--secundary-color);
  padding: 10px 0;
  text-align: center;
  margin-bottom: 30px;
}
header h1 {
  padding-bottom: 7px;
  font-size: 25px;
}
#btn-img,
#btn-txt,
#btn-mode {
  padding: 3px 7px;
  background-color: var(--secundary-color);
  border: none;
}
header i {
  color: white;
}
/* SECTION BOX-MEME */
.box-meme {
  max-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.container-box {
  width: 400px;
  height: 400px;
  background-color: var(--secundary-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.top-text {
  width: 400px;
  padding: 15px;
  font-weight: bold;
  font-size: 18px;
  background-color: white;
  position: absolute;
  top: 0;
}
.bottom-text {
  width: 400px;
  padding: 15px;
  font-weight: bold;
  font-size: 18px;
  background-color: white;
  position: absolute;
  bottom: 0;
}
.box {
  width: 400px;
  height: 400px;
  position: relative;
  background-color: var(--secundary-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container-box p {
  color: black;
  font-size: 30px;
  font-weight: bold;
}
/* BOTON DE DESCARGA */
#download-meme {
  width: 150px;
  height: 30px;
  margin-top: 15px;
  background-color: var(--hover-color);
  color: var(--color-font);
  border: none;
  font-weight: bold;
}
/*  BARRA IMAGEN Y TEXTO */
.style-box {
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  color: white;
}
.style-box-txt {
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
}
.box-style-img {
  width: 200px;
  height: 100%;
  padding: 15px;
  background-color: var(--secundary-color);
}
.box-style-img h4 {
  margin-bottom: 10px;
}
/* ETIQUETAS DE LOS INPUTS */
.box-style-img label {
  display: block;
  font-size: 11px;
  margin-bottom: 3px;
  padding-top: 3px;
}
#url {
  width: 100%;
  height: 20px;
  background-color: var(--primary-color);
  border: none;
  margin-bottom: 10px;
}
/* DIV CON COLOR FONDO Y SELECCION DE OPCIONES */
.img-bkg {
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
/* COLOR FONDO Y HEXADECIMAL */
.container-img-bkg {
  display: flex;
  justify-content: space-around;
  background-color: var(--primary-color);
  padding: 5px 3px;
  margin: 4px;
  width: 80px;
  height: 25px;
}
/* stackoverflow-¿Webkit CSS para controlar el cuadro alrededor del color en una entrada [tipo = color]?*/
/* modifica el rectacgulo que viene por defecto - pero no entiendo como funciona el webkit */
input[type="color"] {
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  width: 15px;
  height: 15px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
/* OPCIONES DE SELECCION */
.bkg-select {
  width: 80px;
  height: 25px;
  background-color: var(--primary-color);
  border: none;
  outline: none;
}
.slides h5 {
  margin-top: 10px;
}
/* este bloque me lo paso Gaby para estilar los slides y las bolitas de las puntas */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: rgb(219, 213, 213);
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}
/* BARRAS DE INPUTS */
.slides input {
  width: 100%;
  height: 3px;
  appearance: none;
  border-radius: 15px;
}
/* BOTON REESTABLECER */
#btn-reset {
  margin-top: 20px;
  padding: 5px;
  background-color: var(--hover-color);
  color: var(--color-font);
  border: none;
  font-weight: bold;
}
/* BARRA TEXTO */
.box-style-txt {
  width: 200px;
  height: 100%;
  padding: 15px;
  background-color: var(--secundary-color);
}
.box-style-txt h4 {
  margin-bottom: 10px;
}
.box-style-txt label {
  display: block;
  font-size: 11px;
  margin-bottom: 3px;
  padding-top: 3px;
}
/* TXT ARRIBA Y ABAJO */
#top,
#bottom {
  width: 100%;
  height: 20px;
  margin-bottom: 3px;
  background-color: var(--primary-color);
  border: none;
}
.bkg-select {
  width: 100%;
  margin-bottom: 3px;
}
#size-font {
  width: 75px;
  height: 25px;
  border: none;
  background-color: var(--primary-color);
}
.fa-align-right,
.fa-align-center,
.fa-align-left {
  background-color: var(--primary-color);
  width: 23px;
  height: 15px;
}
.txt-bkg {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}
.txt-FC {
  display: flex;
  justify-content: space-around;
  background-color: var(--primary-color);
  padding: 5px 3px;
  margin: 4px;
  width: 80px;
  height: 25px;
}
.outline {
  margin-top: 5px;
}
.outline button {
  background-color: var(--primary-color);
  border: none;
  height: 25px;
  width: 50px;
}
#letter-spacing,
#line-height {
  width: 100%;
  height: 20px;
  background-color: var(--primary-color);
  border: none;
}
